/* .container{
    max-width: 99vw;
} */
.ourteamm {
    text-align: center;
    padding: 3rem;
    position: relative;
    top: 500px;
    margin-bottom: 100px;
  }
  
  h2 {
    font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-align: center;
  letter-spacing: 2px;
    color: #333;
  }
  
  .imagecards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0 1rem;
    height: auto;
  }
  
  .cardteamm {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;

  }
  
  .cardteamm:hover {
    transform: scale(1.05);
  }
  
  .cardteamm img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: filter 0.3s;
    filter: grayscale(20%);
    border-radius: 50%;
    position: relative;
    left: 80px;
  }
  
  .cardteamm:hover img {
    filter: grayscale(0%);
  }
  
  .teamInfo {
    padding: 1.5rem;
  }
  
  .name {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  .role {
    display: block;
    font-size: 0.9rem;
    color: #666;
    margin: 0.5rem 0 1rem;
  }

  .socials{
    display: flex;
    position: relative;
    left: 80px;
  }
  
  .socials a {
    color: #333;
    margin-right: 1rem;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .socials a:hover {
    color: #0077b5; /* You can add different colors for different icons */
  }
  .animate{
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInUp 1.5s ease forwards;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/* Contact */

  @media (max-width: 768px) {
    .ourteamm h2 {
      font-size: 2rem;
    }
  }
  