html{
  scroll-behavior: smooth;
}
.navbar{
  padding: 10px;
  height: 60px;
  background: none;
}
.bb{
  color: #8bc355;
  font-size: 1em;
  margin-left: 30px;
}
ul{
  margin-right: 50px;
  
}
li{
  color: #fff;
  font-size: 0.9em;
}
ul li:hover{
  color: #d7ad46 !important;
}
.container{
  height: 90vh;
  /* background-image: url("C:\Users\HP 1030\Documents\GitHub\BrainyBadgersWebsite\vite-project\src\assets\home.jpg"); */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Scales the image to cover the entire area */
  background-position: center; /* Centers the image */
  background-color: #1e2327;
}
.home h1{
  font-weight: bold;
  font-size: 5em;
  color: #fff;
  position: relative;
  left: 100px;
  top: 50px;
  width: 50%;
}
.home p{
  position: relative;
  left: 100px;
  top: 50px;
  width: 50%;
  color: gray;
}
.home button{
  position: relative;
  left: 100px;
  top: 80px;
  border:1px solid #8bc355;
  color: #fff;
  width: 20%;
  padding: 10px;
  border-radius: 5px;  
  transition: 0.4s;
  background:linear-gradient(to left, #1e2327 50%, #8bc355 50%) right;
  transition: all .5s ease-out;
  background-size: 200%;
}
.home button:hover{
  /* background: #8bc355; */
  background-position: left;
}



.aboutus{
  left: 60px;
  top: 100px;
  position: relative;
  width: 92%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: green; */
  text-align: center;
}

.aboutus h2{
  /* width: 200px; */
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 2px;
  text-align: center;
  display: inline-block;
  position: relative;
}
.aboutus .about{
  padding: 15px;
  background: #375819;
  width: 80%;
  transition: transform 0.5s ease-in-out;
  height: auto;
}
.about p{
  margin-top: 20px;
  width: 90%;
  margin-left: 30px;
}
.about button{
  position: relative;
  /* left: 26%; */
  top: 50px;
  border:1px solid #d7ad46;
  color: #111;
  width: 40%;
  padding: 10px;
  border-radius: 5px;  
  /* transition: 0.4s ease-in; */
  background:linear-gradient(to left, #fff 50%, #d7ad46 50%) right;
  transition: all .5s ease-out;
  background-size: 200%;
}
.about button:hover{
  /* background-color: #d7ad46; */
  background-position: left;
  color: #fff;
}
.abtimg{
  background-color: blue;
  width: 100%;
}
.abtimg img{
  background-color: red;
  width: 100%;
  height: 80%;
}
.home{
  display: flex;
}

.imagecircle{
  /* background-color: #8bc355; */
  height: 400px;
  width:400px;
  border-radius: 50%;
  margin-top: 50px;
  margin-right: 50px;
  position: relative;
 }

 .scale{
  height: 190px;
  width: 180px;
  background-size: cover;
  position: absolute;
  transition: 0.3s all;
}
div#one {
  background-image: url("https://res.cloudinary.com/dweikgdwq/image/upload/v1730586250/Brainy%20badgers/home_qwfhh7.jpg");
  -moz-border-radius: 150px 0 0 0;
  border-radius: 150px 0 0 0;
  left: 0;
  top: 0;
}
div#two{
   background-image: url("https://res.cloudinary.com/dweikgdwq/image/upload/v1730586254/Brainy%20badgers/e_c7aew5.jpg");
  -moz-border-radius: 0 150px 0 0;
  border-radius: 0 150px 0 0;
  right: 0;
}
div#three{
  background-image: url("https://res.cloudinary.com/dweikgdwq/image/upload/v1730586247/Brainy%20badgers/w_sak97h.jpg");
  -moz-border-radius: 0 0 150px 0;
  border-radius: 0 0 150px 0;
  bottom: 0;
  right: 0;
}
div#four{
  background-image: url("https://res.cloudinary.com/dweikgdwq/image/upload/v1730586259/Brainy%20badgers/r_eb9ve9.jpg");
  -moz-border-radius: 0 0 0 150px;
  border-radius: 0 0 0 150px;
  bottom: 0;
}
.scale:hover{
  transform: scale(1.1);
  z-index: 100;
    filter: blur(0) !important;
  -webkit-filter: blur(0) !important;
}
.container:hover .scale{
  filter: blur(0.5px);
  -webkit-filter: blur(0.5px);
}


.ourteam{
  left: 100px;
  top: 400px;
  position: relative;
  width: 92%;
}
.ourteam h2{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.5em;
  text-align: center;
}
.imagecards{
  margin-top: 50px;
  display: grid;
  grid-template-columns:1fr 1fr  1fr;
}
.card{
  width: 300px;
  height: 350px;
  /* background-color: rebeccapurple; */
}
.card img, .card iframe{
  height: 250px;
  width: 300px;
}
.card iframe:hover{
  z-index: 1;
}
.card div{
  background-color: #fff;
  width: 250px;
  position: relative;
  bottom: 80px;
  left: 25px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.7;
}

.elab{
  left: 100px;
  top: 200px;
  position: relative;
  width: 92%;
}

.elab h2{
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-align: center;
  letter-spacing: 2px;
}
.elab p{
  width: 90%;
  text-align: center;
  color: #333;
}

.elab .cards{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.elab .cards .card div{
  background-color: #fff;
  opacity: 1;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

.elab .cards .card div span{
  text-align: center;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #d7ad46;
  border-radius: 50%;
  color: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 100px;
  top: 15px;
}

.cardteam{
  /* background-color: rebeccapurple; */
}
.cardteam img{
  width: 250px;
  height: 270px;
  border-radius: 50%;
  box-shadow: 10px 6px 15px 0px rgba(0, 0, 0, 0.1);
}
.cardteam div{
  /* background-color: red; */
  width: 50%;
  position: relative;
  left: 30px;
  margin: 20px;
}

.contact{
  left: 100px;
  top: 500px;
  position: relative;
  width: 92%;
  display: flex;
  flex-direction: row;
}

.contact .icons{
  background-color: #8bc355;
  width: 50%;
  height: auto;
  /* background-image: url("C:\Users\HP 1030\Documents\GitHub\BrainyBadgersWebsite\vite-project\src\assets\home.jpg"); */
  /* background-position: center;
  background-repeat: no-repeat; */
}
.contact form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 70px;
}
.contact input{
  flex: 33%;
  outline: none;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  transition: 0.2s;
  border-radius: 3px;
}
.contact textarea{
  width: 80%;
  outline: none;
  border: 1px solid #444;
  text-indent: 10px;
}

.contact .form{
  align-items: center;
  justify-content: center;
  /* background-color: rebeccapurple; */
  width: 50%;
}
.form h2{
  width: 200px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin-left: 200px;
  letter-spacing: 2px;
}
.form p{
  text-align: center;
  color: #222;
  margin-bottom: 10px;
}

.form button{
  position: relative;
  left: 100px;
  top: 10px;
  background: #d7ad46;
  color: #fff;
  width: 60%;
  padding: 10px;
  border-radius: 5px; 
  
  /* transition: 0.4s; */
}
.icons{
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  position: relative;
  padding: 70px;
}
.footer{
  position: relative;
  bottom: 0;
  margin: 0px !important;
  top: 600px;
  text-align: center;
  color: #000;
  padding: 10px;
  height: 250px;
  background-color: #F5F5F4;
  font-size: 0.9em;

}
.footer .line{
  background: #444;
  height: 1px;
  width: 90%;
  position: relative;
  left: 5%;
}
.footercontent{
  height: 90%;
  display: flex;
  justify-content: space-evenly;
}
.scrolltotop{
  border-radius: 50% !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
}
.scrolltotop >*{
  color: #fff !important;
  /* color: #d7ad46 #8bc355; */
}
.menu{
  display: none;
}

.animate{
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Responsive */

@media (max-width: 479px) { 

  .home .imagecircle{
    display: none;
  }
  .home h1{
    font-size: 2.2em;
  }
  .home button{
    width: 60%;
    position: relative;
    right: 20px !important;
  }
  .menu{
    display: block;
  }

  .menu img{
    width: 30px;
    float: right;
    position: relative;
    cursor: pointer;
    top: 10px;
    right: 20px;
  }
  .container .menu-closed li{
    display: none;
  }
  .container .menu-closed{
    transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;

  }
  .container .menu-open {
    display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 0; /* Align the menu to the right */
  background-color: #8bc355;
  width: 50%;
  height: 35vh;
  margin: 10px;
  z-index: 2;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  transform: translateX(0); /* Final state */
  transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1; /* Final opacity */
  }
  .container .menu-open li{
    margin: 5px;
    margin-left: 30px;
  }

  .home h1, .home p, .home button{
    position: relative;
    left: 30px;
  }

  .aboutus{
    position: relative;
    left: 20px;
  }
  .aboutus .about{
    width: 100%;
    position: relative;
    top: 50px;
  }
  .elab,.ourteam,.contact{
    position: relative;
    left: 30px;
  }
  .container{
    height: 85vh;
  }
  .elab .cards{
    /* margin-top: 50px; */
    display: grid;
    grid-template-columns: 1fr;
  }
  /* .elab .cards {
    background: blue;
  } */
  .elab .cards .card{
    width: 100%;
    /* margin-bottom: 80px; */
  }
  .elab .cards .card iframe, .elab .cards .card img{
    width: 95%;
    height: 50vh;
  }
  .elab .cards .card div{
    width: 80%;
  }
  .ourteam{
    top: 250px;
    margin-left: -15px !important;
  }
  .imagecards{
    grid-template-columns: 1fr 1fr;
  }
  .imagecards .cardteam{
    margin: 5px;
  }
  .cardteam div span{
    font-size: 0.8em;
  }
  .card iframe, .card img{
    height: 150px;
    width: 150px;
  }

  .contact .form{
    width: 100%;
    position: relative;
    right: 30px;
  }
  .contact .icons{
    display: none;
  }
  .contact h2{
    position: relative;
    right: 100px;
  }
  .contact p{
    position: relative;
    left: 30px;
  }
  .contact form input, .contact form textarea{
    width: 100%;
  }
  .footercontent img{
    display: none;
  }
  .footercontent div div{
    padding: 20px;
  }
  .footercontent div div div{
    margin: 0px !important;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  .container{
    width: 190% !important;
    height: 150vh;
  }
  .scale{
    height: 190px;
    width: 145px;
  }
  .aboutus{
    left: 50px;
  }
  .aboutus .about{
    /* position: relative; */
    margin-top: 200px;
    width: 100%;
  }
  .elab,.ourteam,.contact{
    left: 60px;
  }
  .responsive-li{
    margin-left:34px !important;
    background: red;
  }
}